<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="author" content="Nico">

  <meta name="keywords" content="AQUI_KEYWORDS">
  <meta name="description" content="AQUI_DESCRIPTION">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Título</title>

  <link rel="stylesheet" href="/Libreta/res/css/styles.css">
  <script src="/Libreta/res/js/page.js"></script>
</head>

<body>

  <!-- Contenedor principal con categoría -->
  <div class="page" data-cat="">
    <hr>

    <!-- Auto Breadcrumbs -->

    <!-- Título -->
    <h1>Título</h1>

    <!-- ========================= -->
    <!-- CONTENIDO -->
    <!-- ========================= -->


    <hr>

  </div>

  
</body>

</html>